*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
footer{
  background-color: #111;
}
.footerContainer{
  width: 100%;
  padding: 70px 30px 20px;
}
.socialIcons{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.socialIcons a{
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i{
  font-size: 2em;
  color: black;
  opacity: 0.9;
}
/* hover effects on social media icons */
.socialIcons a:hover{
  background-color: #111;
  transition: 0.5s;
}
.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}
.footerNav{
  margin: 30px 0;
}
.footerNav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a{
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7s;
  transition: 0.5s;
  
}
.footerNav ul li a:hover{
  opacity: 1;
}
/* for repulsive */
@media (max-width: 700px){
  .footerNav ul{
    flex-direction: column;
  }
  .footerNav ul li{
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}
